.DS_Store
*~
build
*.tar.gz
pkg.Rcheck/*
+.#*
.Rhistory
rhstr.*
rmr-*-env
rhdfs/pkg.Rcheck/*

rhdfs/rhdfs-Ex.ps

rmr/pkg.Rcheck/*

rmr/pkg/tools/whirr.log

rmr/pkg/tools/whirr/whirr.log
.Rproj.user

RHadoop.Rproj
