useDynLib(rmr)
export(mapreduce)
export(from.dfs, to.dfs)
export(equijoin, scatter, gather)
export(dfs.empty)
export(rmr.options.set, rmr.options.get)
export(keyval, keys, values)
export(make.input.format, make.output.format)
export(to.map, to.reduce, to.reduce.all)
