export(mapreduce)
export(from.dfs, to.dfs)
export(equijoin, scatter)
export(dfs.empty)
export(rmr.options.set, rmr.options.get)
export(keyval, keys, values)
export(make.input.specs, make.output.specs)
export(to.map, to.reduce, to.reduce.all)
