importFrom("utils", "packageDescription")
importFrom("rJava", ".jinit") 
importFrom("rJava", ".jnew")
importFrom("rJava", ".jclassLoader") 
importFrom("rJava", "J") 
exportPattern("^hdfs")
S3method("print", "hdfsFH")
S3method("as.character", "hdfsFH")

