export(revoMapReduce)
#export(rhtapply)
#export(rhlapply)
export(rhwrite,rhread)
export(hdfs.tempfile)
export(keyval, getKeys, getValues)
export(rawtextinputformat)
export(mkMap, mkReduce)
#export(explode)
