export(revoMapReduce)
#export(rhtapply)
#export(rhlapply)
export(rhwrite,rhread)
export(hdfs.tempfile)
exportPattern('^dfs.*')
export(keyval, getKeys, getValues)
export(rawtextinputformat)
export(mkMap, mkReduce)
#export(explode)
