useDynLib(rmr2)
export(mapreduce)
export(from.dfs, to.dfs)
export(equijoin)
export(scatter, gather, rmr.sample)
export(dfs.empty, dfs.size)
export(rmr.options)
export(keyval, keys, values, c.keyval)
export(make.input.format, make.output.format)
export(to.map, to.reduce)
export(rmr.str)
export(status, increment.counter)
